tingDir/nodes/tingFlows.json
[{"id":"5592e19f.508b4","type":"tab","label":"Gemtek to Ubidots","disabled":false,"info":""},{"id":"e3e69b91.33ef68","type":"tab","label":"CloudMQTT Logger","disabled":false,"info":""},{"id":"8697fa51.7aa8b8","type":"tab","label":"Musa","disabled":false,"info":""},{"id":"5ce28d12.85f0e4","type":"tab","label":"csv test","disabled":false,"info":""},{"id":"6d282e5f.2300b","type":"tab","label":"LoRa Monitor","disabled":false,"info":""},{"id":"f9c60d8e.ab5cc","type":"mqtt-broker","z":"","name":"MQTT-Atilze","broker":"emqs-atilze.giotgateway.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a08cd53.042264","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m15.cloudmqtt.com","port":"26477","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46659882.91c238","type":"mqtt-broker","z":"","broker":"192.168.1.157","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"},{"id":"eeefca23.24be98","type":"mqtt-broker","z":"","name":"atilze ","broker":"emqs-atilze.giotgateway.com","port":"8883","tls":"","clientid":"5cd7d3078be143a78c90350f5df8c976","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b51104a.e9c57","type":"inject","z":"5592e19f.508b4","name":"","topic":"","payload":"{\"demo\":11}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.10002517700195,"y":835.000078201294,"wires":[[]]},{"id":"6946279f.7f4128","type":"ubidots_out","z":"5592e19f.508b4","name":"Publish","token":"A1E-YSprHukrk9VLUNvpQ0rYbJpz99jJna","label_device":"","device_label":"nodered","tier":"educational","x":545.1000900268555,"y":835.0000810623169,"wires":[]},{"id":"1975435f.00d03d","type":"ubidots_in","z":"5592e19f.508b4","tier":"educational","name":"Subscribe","token":"A1E-YSprHukrk9VLUNvpQ0rYbJpz99jJna","device_label":"nodered","label_device":"","label_variable":"demo","x":123.10003662109375,"y":932.0000686645508,"wires":[["a96fe963.525d48"]]},{"id":"a96fe963.525d48","type":"debug","z":"5592e19f.508b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":434.8636703491211,"y":930.2727947235107,"wires":[]},{"id":"365a8452.bea01c","type":"json","z":"5592e19f.508b4","name":"","property":"payload","action":"","pretty":false,"x":249.8636589050293,"y":194.2727565765381,"wires":[["f85c8161.d636c","9f98a92d.4b8258"]]},{"id":"8447f185.b4859","type":"debug","z":"5592e19f.508b4","name":"Output_MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":292.0000305175781,"y":350.00003242492676,"wires":[]},{"id":"f85c8161.d636c","type":"change","z":"5592e19f.508b4","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":425.86366271972656,"y":281.8182010650635,"wires":[[]]},{"id":"79897b34.d17e54","type":"inject","z":"5592e19f.508b4","name":"Color : Red","topic":"","payload":"Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.86366271972656,"y":541.6364192962646,"wires":[["a12a3c31.711b4"]]},{"id":"5fd43754.95dfd8","type":"inject","z":"5592e19f.508b4","name":"Color : Blue","topic":"","payload":"Blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.00000381469727,"y":614.0000228881836,"wires":[["a12a3c31.711b4"]]},{"id":"8fc2397f.df55f8","type":"inject","z":"5592e19f.508b4","name":"Color : Black","topic":"","payload":"Black","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119.00000381469727,"y":681.0000228881836,"wires":[["a12a3c31.711b4"]]},{"id":"8dce97f1.5dd038","type":"debug","z":"5592e19f.508b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":758.8636589050293,"y":614.2727546691895,"wires":[]},{"id":"a12a3c31.711b4","type":"function","z":"5592e19f.508b4","name":"function","func":"color=msg.payload;\n\n\nif(color=='Red')\n{\n    return color;\n    \n}\nelse\n{\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":379.00001335144043,"y":611.0000295639038,"wires":[["8dce97f1.5dd038"]]},{"id":"34377137.e30cde","type":"template","z":"5592e19f.508b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is {{payload}}","output":"str","x":452.86365509033203,"y":711.5454788208008,"wires":[[]]},{"id":"98141bc0.c72bf8","type":"switch","z":"5592e19f.508b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":551.8636627197266,"y":387.09091567993164,"wires":[[]]},{"id":"dc9abb98.0db0a8","type":"debug","z":"5592e19f.508b4","name":"Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":793.0000228881836,"y":196.00001907348633,"wires":[]},{"id":"9f98a92d.4b8258","type":"function","z":"5592e19f.508b4","name":"function","func":"var macAddress=msg.payload.macAddr;\nvar data=msg.payload.data;\nvar mmg=\"haha\";\nvar test={\"payload\":msg.payload.macAddr.toString()};\n\nif(macAddress==\"000000001400029a\")\n{\n    console.log(test);\n    \n}\nelse if (macAddress==\"000000001400029b\")\n{\n     console.log(test);\n}\nelse\n{\n    return mmg;\n}","outputs":1,"noerr":0,"x":417.8636665344238,"y":193.54550743103027,"wires":[["f9029eb1.15046"]]},{"id":"f9029eb1.15046","type":"template","z":"5592e19f.508b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":608.8636703491211,"y":192.81820487976074,"wires":[["dc9abb98.0db0a8"]]},{"id":"d96b957a.3aacb8","type":"mqtt in","z":"5592e19f.508b4","name":"","topic":"df.atilze-mqtt.uldata","qos":"2","broker":"f9c60d8e.ab5cc","x":95,"y":166.63639068603516,"wires":[[]]},{"id":"97738c77.90651","type":"mqtt in","z":"e3e69b91.33ef68","name":"CloudMQTT","topic":"GIOT-GW/UL/1C497B4322E0","qos":"2","broker":"6a08cd53.042264","x":122.8636474609375,"y":112.63637065887451,"wires":[[]]},{"id":"8e724935.b85ac8","type":"debug","z":"e3e69b91.33ef68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":719.863655090332,"y":113.27274990081787,"wires":[]},{"id":"ed43b1ae.84342","type":"file","z":"e3e69b91.33ef68","name":"MQTT Log File","filename":"D:\\Year 4 Sem 1\\Co Op 4\\Atilze\\Log\\20181105_LoRa_14000298.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":732.863655090332,"y":160.81824016571045,"wires":[[]]},{"id":"583e5090.9bda9","type":"inject","z":"e3e69b91.33ef68","name":"","topic":"Test","payload":"[ {   \"channel\" : 923400000,   \"sf\" : 12,   \"time\" : \"2018-11-05T02:35:51Z\",   \"gwip\" : \"192.168.88.178\",   \"gwid\" : \"00001c497b432129\",   \"repeater\" : \"00000000ffffffff\",   \"systype\" : 20,   \"rssi\" : -33.0,   \"snr\" : 27.0,   \"snr_max\" : 38.0,   \"snr_min\" : 20.5,   \"macAddr\" : \"0000000014000298\",   \"data\" : \"000000000100ca00f2\",   \"frameCnt\" : 1,   \"fport\" : 1 } ]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.86365509033203,"y":184.63641262054443,"wires":[["5eb980ba.4d3d2"]]},{"id":"7858b789.d26aa8","type":"mqtt in","z":"8697fa51.7aa8b8","name":"atilzeval","topic":"df.atilze-mqtt.uldata","qos":"2","broker":"eeefca23.24be98","x":143,"y":164.17609691619873,"wires":[["662a1799.1a8f18"]]},{"id":"662a1799.1a8f18","type":"json","z":"8697fa51.7aa8b8","name":"","property":"payload","action":"obj","pretty":false,"x":305.0000305175781,"y":184.17607307434082,"wires":[["a3058672.3c7718"]]},{"id":"a3058672.3c7718","type":"debug","z":"8697fa51.7aa8b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990.0000152587891,"y":186.17606925964355,"wires":[]},{"id":"3d17c802.84d9e8","type":"function","z":"8697fa51.7aa8b8","name":"28A","func":"var value = msg.payload;\n\nif (msg.payload.macAddr ==\"000000001400028a\"){\n\nmsg.payload = msg.payload;\nreturn msg;\n    \n    \n}\n","outputs":1,"noerr":0,"x":452.7840461730957,"y":188.3749532699585,"wires":[[]]},{"id":"a732d8e0.f3e9a8","type":"change","z":"8697fa51.7aa8b8","name":"datasplitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.0142211914062,"y":186.9999237060547,"wires":[[]]},{"id":"74e5b259.09538c","type":"function","z":"8697fa51.7aa8b8","name":"organizer","func":"var value = msg.payload;\nvar res = value.substr(12, 18);\nvar opt = res.substr(0,2);\nvar val = parseInt(res.substr(2,5),16)/100;\n\n\nvar prm;\n\nswitch (opt){\n    \ncase \"7f\" :\n    prm = \"ASoil_EC\";\n    var val = parseInt(res.substr(2,5),16);\n    break;\ncase \"c9\" :\n    prm = \"ASoil_Moisture\";\n    break;\ncase \"7e\":\n    prm = \"APH_Sensor\";\n    break;\ncase \"67\":\n    prm = \"ATemperature\";\n    break;\ncase \"68\":\n    prm = \"AHumidity \";\n    break;\ncase \"74\":\n    prm = \"ABattery\";\n    break;\n}\n\nvar rslt = \"{\\\"\"+prm+\"\\\":\"+val+\"}\" ;\nmsg.payload = rslt;\nreturn msg;","outputs":1,"noerr":0,"x":823.0141716003418,"y":186,"wires":[[]]},{"id":"94e5868d.09f838","type":"ubidots_out","z":"8697fa51.7aa8b8","name":"SensorA","token":"A1E-wKtI0qX01WJoIaDMp8T4MNET4b3zod","label_device":"","device_label":"SensorB","tier":"educational","x":1003.1960792541504,"y":302.9999723434448,"wires":[]},{"id":"dff0d8c9.f71558","type":"inject","z":"8697fa51.7aa8b8","name":"","topic":"Test","payload":"[ {   \"channel\" : 923400000,   \"sf\" : 12,   \"time\" : \"2018-11-05T02:35:51Z\",   \"gwip\" : \"192.168.88.178\",   \"gwid\" : \"00001c497b432129\",   \"repeater\" : \"00000000ffffffff\",   \"systype\" : 20,   \"rssi\" : -33.0,   \"snr\" : 27.0,   \"snr_max\" : 38.0,   \"snr_min\" : 20.5,   \"macAddr\" : \"000000001400028a\",   \"data\" : \"000000000100ca00f2\",   \"frameCnt\" : 1,   \"fport\" : 1 } ]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148.18182373046875,"y":291.00000858306885,"wires":[["662a1799.1a8f18"]]},{"id":"5eb980ba.4d3d2","type":"json","z":"e3e69b91.33ef68","name":"","property":"payload","action":"","pretty":false,"x":293.8636474609375,"y":113.4545431137085,"wires":[["76f745bd.eac10c"]]},{"id":"76f745bd.eac10c","type":"function","z":"e3e69b91.33ef68","name":"298","func":"if(msg.payload[0].macAddr == \"0000000014000298\")\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":480.8636474609375,"y":113.72730922698975,"wires":[["8e724935.b85ac8","ed43b1ae.84342","f705782b.431248"]]},{"id":"465e0202.bfba5c","type":"comment","z":"e3e69b91.33ef68","name":"Filter 14000298","info":"adfdasfadfas","x":132.86365509033203,"y":56.72727346420288,"wires":[]},{"id":"90dc0339.46105","type":"comment","z":"e3e69b91.33ef68","name":"Filter 1400029A","info":"adfdasfadfas","x":125.0000114440918,"y":360.0000238418579,"wires":[]},{"id":"443626f3.5c4c58","type":"inject","z":"e3e69b91.33ef68","name":"","topic":"Test","payload":"[ {   \"channel\" : 923400000,   \"sf\" : 12,   \"time\" : \"2018-11-05T02:35:51Z\",   \"gwip\" : \"192.168.88.178\",   \"gwid\" : \"00001c497b432129\",   \"repeater\" : \"00000000ffffffff\",   \"systype\" : 20,   \"rssi\" : -33.0,   \"snr\" : 27.0,   \"snr_max\" : 38.0,   \"snr_min\" : 20.5,   \"macAddr\" : \"000000001400029a\",   \"data\" : \"000000000100ca00f2\",   \"frameCnt\" : 1,   \"fport\" : 1 } ]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":471,"wires":[["965219da.4b0828"]]},{"id":"6b49b70f.8f99a8","type":"mqtt in","z":"e3e69b91.33ef68","name":"CloudMQTT","topic":"GIOT-GW/UL/1C497B4322E0","qos":"2","broker":"6a08cd53.042264","x":112.8636474609375,"y":412.727294921875,"wires":[[]]},{"id":"965219da.4b0828","type":"json","z":"e3e69b91.33ef68","name":"","property":"payload","action":"","pretty":false,"x":289.86364364624023,"y":410.09092140197754,"wires":[["e512763b.6112d8"]]},{"id":"e512763b.6112d8","type":"function","z":"e3e69b91.33ef68","name":"29a","func":"if(msg.payload[0].macAddr == \"000000001400029a\")\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":466.8636474609375,"y":410.54546546936035,"wires":[["4c730f7b.b8685","41d7762b.f8a258"]]},{"id":"4c730f7b.b8685","type":"debug","z":"e3e69b91.33ef68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":708.863655090332,"y":411.3636474609375,"wires":[]},{"id":"41d7762b.f8a258","type":"file","z":"e3e69b91.33ef68","name":"MQTT Log File","filename":"D:\\Year 4 Sem 1\\Co Op 4\\Atilze\\Log\\20181105_LoRa_1400029a.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":720.863655090332,"y":470.72728729248047,"wires":[[]]},{"id":"1d67e6a8.ab6869","type":"mqtt in","z":"5ce28d12.85f0e4","name":"CloudMQTT","topic":"GIOT-GW/UL/1C497B4322E0","qos":"2","broker":"6a08cd53.042264","x":175,"y":112.00000190734863,"wires":[[]]},{"id":"f4faaefb.ebf4b","type":"function","z":"5ce28d12.85f0e4","name":"","func":"var macAddress=msg.payload[0].macAddr;\nvar data=msg.payload[0].data;\n\nvar combined_payload=macAddress+\",\"+data;\nmsg.payload=combined_payload;\nreturn msg;","outputs":1,"noerr":0,"x":463.1000061035156,"y":113.00000190734863,"wires":[["76a28399.a1c2ec","353fdd35.3e3012"]]},{"id":"76a28399.a1c2ec","type":"debug","z":"5ce28d12.85f0e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":631.1000366210938,"y":114,"wires":[]},{"id":"6126b56.9311d4c","type":"json","z":"5ce28d12.85f0e4","name":"","property":"payload","action":"obj","pretty":false,"x":322.1000061035156,"y":113,"wires":[["f4faaefb.ebf4b"]]},{"id":"353fdd35.3e3012","type":"file","z":"5ce28d12.85f0e4","name":"csvOutput","filename":"D:\\Year 4 Sem 1\\Co Op 4\\Atilze\\Log\\csvTest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":639.1000556945801,"y":183.00000190734863,"wires":[[]]},{"id":"d9d0ac7c.f1f49","type":"ubidots_out","z":"e3e69b91.33ef68","name":"Publish","token":"A1E-YSprHukrk9VLUNvpQ0rYbJpz99jJna","label_device":"","device_label":"14000298_rssi","tier":"educational","x":1101.1002616882324,"y":301.00000190734863,"wires":[]},{"id":"e313430b.18d02","type":"template","z":"e3e69b91.33ef68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"rssi\":{{payload}}}","output":"json","x":925.10009765625,"y":302.00000381469727,"wires":[["d9d0ac7c.f1f49","a9410789.d05688"]]},{"id":"f705782b.431248","type":"function","z":"e3e69b91.33ef68","name":"RSSI Value","func":"var rssi_value=msg.payload[0].rssi;\n\nmsg.payload=rssi_value;\n\nreturn msg;","outputs":1,"noerr":0,"x":736.1000442504883,"y":242.00000381469727,"wires":[["e313430b.18d02"]]},{"id":"a9410789.d05688","type":"debug","z":"e3e69b91.33ef68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1167.1001625061035,"y":201.00000381469727,"wires":[]},{"id":"954e06b5.12e008","type":"mqtt in","z":"6d282e5f.2300b","name":"CloudMQTT","topic":"GIOT-GW/UL/1C497B4322E0","qos":"2","broker":"6a08cd53.042264","x":86.8636474609375,"y":94.63636589050293,"wires":[["e3a33817.927838"]]},{"id":"8349ddfb.14594","type":"debug","z":"6d282e5f.2300b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":559.8636779785156,"y":47.27274990081787,"wires":[]},{"id":"d219e03c.f7c8a","type":"file","z":"6d282e5f.2300b","name":"MQTT Log File","filename":"D:\\Year 4 Sem 1\\Co Op 4\\Atilze\\Log\\20181105_LoRa_14000298.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":110.8637466430664,"y":312.81824111938477,"wires":[[]]},{"id":"cb08b8d5.1c1748","type":"inject","z":"6d282e5f.2300b","name":"","topic":"Test","payload":"[ {   \"channel\" : 923400000,   \"sf\" : 12,   \"time\" : \"2018-11-05T02:35:51Z\",   \"gwip\" : \"192.168.88.178\",   \"gwid\" : \"00001c497b432129\",   \"repeater\" : \"00000000ffffffff\",   \"systype\" : 20,   \"rssi\" : -79,   \"snr\" : 27.0,   \"snr_max\" : 38.0,   \"snr_min\" : 20.5,   \"macAddr\" : \"0000000014000288\",   \"data\" : \"000000000100cb0000\",   \"frameCnt\" : 1,   \"fport\" : 1 } ]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.86365509033203,"y":166.63640785217285,"wires":[["e3a33817.927838"]]},{"id":"e3a33817.927838","type":"json","z":"6d282e5f.2300b","name":"","property":"payload","action":"","pretty":false,"x":257.8636474609375,"y":95.45453834533691,"wires":[["7e2519b6.cebc08"]]},{"id":"7e2519b6.cebc08","type":"function","z":"6d282e5f.2300b","name":"288","func":"if(msg.payload[0].macAddr == \"0000000014000288\")\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":393.8636779785156,"y":94.72730350494385,"wires":[["8349ddfb.14594","a08a2dfb.bc503","447694c1.1f872c"]]},{"id":"21cbb6f7.c9383a","type":"comment","z":"6d282e5f.2300b","name":"Filter 14000288","info":"","x":96.86365509033203,"y":38.7272686958313,"wires":[]},{"id":"f5b13d77.bc734","type":"template","z":"6d282e5f.2300b","name":"API Formatter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"rssi\":{{payload}}}","output":"str","x":707.1001052856445,"y":154.00000476837158,"wires":[["1a7a6bf6.6a0d04"]]},{"id":"57159bab.9ef164","type":"function","z":"6d282e5f.2300b","name":"Data Filter","func":"var data=msg.payload[0].data;\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":107.10005950927734,"y":359.00000381469727,"wires":[[]]},{"id":"6f8d65da.b9e3bc","type":"debug","z":"6d282e5f.2300b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":912.100305557251,"y":43,"wires":[]},{"id":"a08a2dfb.bc503","type":"change","z":"6d282e5f.2300b","name":"Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":538.1000595092773,"y":93.99999713897705,"wires":[["dc1ff722.911078"]]},{"id":"dc1ff722.911078","type":"function","z":"6d282e5f.2300b","name":"API Fommatter","func":"var data = msg.payload;\nvar payload = data.substr(12, 6);\nvar ipso_id = payload.substr(0,2);\nvar ipso_hex_value = payload.substr(2,4);\nvar ipso_dec_value = parseInt(ipso_hex_value,16);\n\nvar variable;\n\nswitch (ipso_id){\n    \ncase \"74\" :\n    variable = \"batt\";\n    ipso_dec_value=ipso_dec_value/100;\n    break;\n\ncase \"cd\" :\n    variable = \"water_lv\";\n    break;\n    \ncase \"67\" :\n    variable = \"temp\";\n    ipso_dec_value = ipso_dec_value/10;\n    \n    break;\n\ncase \"68\" :\n    variable = \"humid\";\n    ipso_dec_value = ipso_dec_value/10;\n    break;\n    \ncase \"ca\" :\n    variable = \"pm25\";\n    ipso_dec_value = ipso_dec_value/10;\n    break;\n    \ncase \"cb\" :\n    variable = \"pm10\";\n    ipso_dec_value = ipso_dec_value/10;\n    break;\n    \n}\n\nvar body = \"{\\\"\"+variable+\"\\\":\"+ipso_dec_value+\"}\" ;\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":709.100154876709,"y":93.99999713897705,"wires":[["6f8d65da.b9e3bc","1a7a6bf6.6a0d04"]]},{"id":"ba636950.4ef598","type":"inject","z":"6d282e5f.2300b","name":"","topic":"","payload":"{\"rssi\":-55}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.10001373291016,"y":452.00000381469727,"wires":[[]]},{"id":"1a7a6bf6.6a0d04","type":"http request","z":"6d282e5f.2300b","name":"ThingsBoard.io","method":"POST","ret":"txt","url":"http://demo.thingsboard.io/api/v1/KhxPzArKMlMyRuxWmDhU/telemetry","tls":"","x":921.1000137329102,"y":91.00000190734863,"wires":[[]]},{"id":"d086da05.693ea8","type":"inject","z":"6d282e5f.2300b","name":"","topic":"","payload":"00000000010074017c","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148.10000610351562,"y":262.0000057220459,"wires":[[]]},{"id":"447694c1.1f872c","type":"change","z":"6d282e5f.2300b","name":"RSSI","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].rssi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":537.0000076293945,"y":154.00000190734863,"wires":[["f5b13d77.bc734"]]},{"id":"50ec7f16.2deb2","type":"function","z":"6d282e5f.2300b","name":"API Fommatter","func":"var data = msg.payload;\nvar payload = data.substr(12, 6);\nvar ipso_id = payload.substr(0,2);\nvar ipso_hex_value=payload.substr(2,4);\nvar ipso_dec_value = parseInt(ipso_hex_value,16)/100;\n\nvar variable;\n\nswitch (ipso_id){\n    \ncase \"74\" :\n    variable = \"batt\";\n    break;\n\ncase \"cd\" :\n    variable = \"water_lv\";\n    break;\n    \ncase \"67\" :\n    variable = \"temp\";\n    break;\n\ncase \"68\" :\n    variable = \"humid\";\n    break;\n    \ncase \"ca\" :\n    variable = \"pm25\";\n    break;\n    \ncase \"cb\" :\n    variable = \"pm10\";\n    break;\n    \n}\n\nvar body = \"{\\\"\"+variable+\"\\\":\"+ipso_dec_value+\"}\" ;\nmsg.payload = body;\nreturn msg;","outputs":1,"noerr":0,"x":118.00000762939453,"y":403.00000381469727,"wires":[[]]},{"id":"19cf5c34.72e0e4","type":"debug","z":"6d282e5f.2300b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":912.0000114440918,"y":152.00000190734863,"wires":[]}]